@using AzureDatabaseExample.data
@model List<Product>


        @foreach (var product in Model)
        {

            <tr>
        <td>@product.ProductId</td>
                <td>@product.Name</td>
        <td>@product.Color</td>

     
            </tr>
        }

